<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket.io</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #div-chat {
                display: flex;
                flex-direction: row;
            }
            #div-chat-controller {
                padding-left: 20px;
            }
        </style>
    </head>
    <body>
        <div id="div-dang-ky">
            <input type="text" placeholder="Username" id="txt-username">
            <br><br>
            <button id="btn-dang-ky">Sign Up</button>
        </div>
        <div id="div-chat">
            <ul id="ul-username">
            </ul>
            <div id="div-chat-main">
                <ul id="ul-message">
                    <li>pho: Hello everyone!</li>
                    <li>pho: Hello everyone!</li>
                    <li>pho: Hello everyone!</li>
                    <li>pho: Hello everyone!</li>
                </ul>
                <div id="div-chat-controller">
                    <input type="text" placeholder="Message">
                    <br><br>
                    <button id="btn-send">Send Message</button>
                </div>
            </div>
        </div>   
        <script src="jquery.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="main.js"></script>
        <script src="reload/reload.js"></script>
    </body>
</html>