<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket.io</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #div-chat {
                display: flex;
                flex-direction: row;
            }
            #div-chat-controller {
                padding-left: 20px;
            }
            .active {
                color: red;
            }
        </style>
    </head>
    <body>
        <div id="div-dang-ky">
            <input type="text" placeholder="Username" id="txt-username">
            <br><br>
            <button id="btn-dang-ky">Sign Up</button>
        </div>
        <div id="div-chat">
            <ul id="ul-username">
            </ul>
            <ul id="ul-room">
                <li>NodeJS</li>
                <li>iOS</li>
                <li>React</li>
                <li>Native</li>
            </ul>
            <div id="div-chat-main">
                <ul id="ul-message">
                </ul>
                <div id="div-chat-controller">
                    <input type="text" placeholder="Message" id="txt-message">
                    <br><br>
                    <button id="btn-send">Send Message</button>
                    <br>
                    <button id="btn-send-private">Send Private Message</button>
                    <br>
                    <button id="btn-send-room">Send Room Message</button>
                </div>
            </div>
        </div>   
        <script src="jquery.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="main.js"></script>
        <script src="reload/reload.js"></script>
    </body>
</html>